[general]
full_machine_name = {{ inventory_hostname }}
start = True
strict_host_checking = False

[slapd]
instance_name = {{ inventory_hostname }}
root_password = boinkboink
self_sign_cert = True
self_sign_cert_valid_months = 240

[backend-userroot]
create_suffix_entry = True
suffix = {{ suffix }}
